<center><h1>Why make Pinteresting?</h1>

<p><h2>Well... it's my first project and it's simple! Through building this I was able to get familiar with using my terminal, pushing to Github, migrating to Heroku, installing gems in ruby, integrating Bootstrap, cusomizing style sheets, going through error logs, and uploading files to AWS.</p></h2>

<p><h3>I did all this through a tutorial called <%=link_to "One Month Rails", "http://www.onemonthrails.com"	%>. I highly recommend it for anyone starting out. </P></h3>

<h3><p>Though many consider me a great hustler or whatever you may call it, I've decided to pick up the basics in coding as well. I'm learning to code to have more control of my projects and more respect for the work others do around me. I wrote a blog post about my journey <%= link_to "here", "https://medium.com/p/eab1eb96a23" %> if you're interested in learning more</h3>

<br><h4> PS: I'm 2 weeks in... Don't give me shit about the color scheme ^^ </h4>	</br></center>