<p>Hello <%= @resource.email %>!</p>

<p>Looks like you forgot your password. Let's try to get you all set-up again so you can enjoy the bad-assery on the site.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, it's possible you're getting trolled. Not to worry, I'm sure there are much worse things they could have done to you ^^</p>
